<div class="nested-fields">  
  <div class="form-group row">
    <div class="col-md-12">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-6">
      <%= f.label :role %>
      <%= f.text_field :role,  class: "form-control" %>
    </div>
    <div class="col-md-6">
      <%= f.label :duration %>
      <%= f.text_field :duration,  class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-12">
      <%= f.label :description %>
      <%= f.text_area :description,  class: "form-control", rows: "3" %>
    </div>
    <div class="col-md-12">
      <%= f.label :project_url %>
      <%= f.text_field :web_url,  class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-6">
      <%= link_to_remove_association "Remove Project", f, class: "btn btn-danger" %>
    </div>
  </div>
</div>
